/*=== global css start === */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul .accordion li .btn p, #reputation .hotel-details .accordion li .text ul .btn p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li, #reputation .hotel-details .accordion li .btn {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

/*===// end of global css === */
/*=== config css start === */
body {
  font-family: 'Poppins', sans-serif;
  background: #F5F7FA;
}

/*===// end of config css === */
/*=== utility css start === */
.text-success {
  color: #42BE65 !important;
}

.text-danger {
  color: #FC3F38 !important;
}

.text-warning {
  color: #DB8B2F !important;
}

.bg-success {
  background-color: #42BE65 !important;
}

.bg-danger {
  background-color: #FC3F38 !important;
}

.bg-warning {
  background-color: #DB8B2F !important;
}

@media (min-width: 1200px) {
  .side-widget {
    min-width: 400px;
  }
  .main-content {
    max-width: calc(100% - 400px);
  }
  .w-150-lg {
    width: 150px !important;
  }
}

.ps-30 {
  padding-left: 30px;
}

/*===// end of utility css === */
/*=== common css start === */
p, #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul .accordion li .btn p, #reputation .hotel-details .accordion li .text ul .btn p {
  font-size: 16px;
  color: #161558;
}

.btn.btn-collapse {
  width: 30px;
  height: 60px;
  background: #F5F7FA;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 12px;
  z-index: 1;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  font-size: 25px;
  color: #2953C0;
}

.btn.btn-collapse i {
  margin-left: -15px;
}

@media (max-width: 1199px) {
  .btn.btn-collapse {
    display: none;
  }
}

.btn.btn-collapse:focus {
  box-shadow: none;
}

.btn {
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
}

.btn.btn-lg {
  font-size: 20px;
  padding: .25rem 2rem;
}

.btn-success {
  background-color: #42BE65;
  border-color: #42BE65;
}

.btn-success:hover {
  background-color: #349951;
  border-color: #349951;
}

.btn-primary {
  background-color: #2953C0;
  border-color: #2953C0;
}

.btn-primary:hover {
  background-color: #204196;
  border-color: #204196;
}

.btn-danger {
  background-color: #FC3F38;
  border-color: #FC3F38;
}

.btn-danger:hover {
  background-color: #fb0f06;
  border-color: #fb0f06;
}

.btn-outline-danger {
  background-color: transparent;
  border-color: #FC3F38;
  color: #FC3F38;
}

.btn-outline-danger:hover {
  background-color: #fb0f06;
  border-color: #fb0f06;
}

.more-btn {
  font-weight: 700;
  color: #161558;
}

.more-btn img {
  vertical-align: baseline-middle;
  vertical-align: -webkit-baseline-middle;
  margin-left: -30px;
}

.more-btn i {
  padding-left: 15px;
}

.form-control, .form-select {
  color: #8E93A8;
  font-size: 16px;
  background-color: #F5F7FA;
  border: 1px solid #D7E1EA;
  border-radius: 5px;
}

.card {
  border: none;
  border-radius: 10px;
}

.card .card-body {
  padding: 30px;
}

.card .card-title {
  font-size: 24px;
  font-weight: 700;
  color: #161558;
}

.card .box {
  background: #F5F7FA;
  border-radius: 5px;
  padding: 10px;
  color: #161558;
  font-size: 12px;
}

.card .box.box-lg {
  font-size: 16px;
}

.card.hotel {
  overflow: hidden;
}

.card.hotel .card-header {
  padding: 30px;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 20px rgba(22, 21, 88, 0.05);
  border-bottom: 0;
}

.card.hotel .card-header .avatar {
  position: relative;
  width: 75px;
}

.card.hotel .card-header .avatar .img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.card.hotel .card-header .avatar i {
  width: 23px;
  height: 23px;
  background: #42BE65;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card.hotel .card-header .card-title {
  font-size: 20px;
  margin-bottom: 0;
}

.card.hotel .card-header p, .card.hotel .card-header #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li .card.hotel .card-header p, .card.hotel .card-header #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .card.hotel .card-header p {
  font-size: 12px;
}

.card.hotel .card-header a {
  display: block;
  position: absolute;
  right: 30px;
  color: #FC3F38;
}

.card.hotel .card-body .box.box-lg {
  font-size: 12px;
  color: #8E93A8;
  padding: 15px;
}

.card.hotel .card-body i {
  color: #8E93A8;
  font-size: 14px;
  padding-right: 5px;
}

.card.hotel .card-body .select-col {
  position: relative;
}

.card.hotel .card-body .select-col i {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.card.hotel .card-body .select-col .form-select {
  font-size: 16px;
  color: #161558;
  padding-left: 35px;
}

.card.hotel .card-body .select-col .form-select option {
  padding-left: 20px;
}

.card.hotel-info {
  overflow: hidden;
  position: relative;
}

.card.hotel-info .link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
  visibility: hidden;
}

.card.hotel-info .card-header {
  padding: 20px 20px 0 20px;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 0;
}

.card.hotel-info .card-header .avatar {
  position: relative;
  width: 60px;
}

.card.hotel-info .card-header .avatar .img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.card.hotel-info .card-header .avatar i {
  width: 23px;
  height: 23px;
  background: #42BE65;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card.hotel-info .card-header .card-title {
  font-size: 20px;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card.hotel-info .card-header p, .card.hotel-info .card-header #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li .card.hotel-info .card-header p, .card.hotel-info .card-header #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .card.hotel-info .card-header p {
  font-size: 12px;
}

.card.hotel-info .card-body {
  padding: 0 20px 20px 20px;
}

.card.hotel-info .card-body .archive li, .card.hotel-info .card-body .archive #reputation .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li .card.hotel-info .card-body .archive .btn {
  font-size: 16px;
  color: #161558;
  font-weight: 700;
}

.card.hotel-info .card-body .option {
  padding: 30px 0;
}

.card.hotel-info .card-body .option .room-type {
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  color: #161558;
}

.card.hotel-info .card-body .option .ref-status {
  background: #42BE65;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
  width: 50px;
  padding: 1px 5px;
  text-align: center;
}

.card.hotel-info .card-body .option .ref-status.not {
  background: #FC3F38;
}

.card.hotel-info .card-body .option .price {
  font-size: 16px;
  font-weight: 700;
  color: #161558;
}

.card.hotel-info .card-body .hotel-info-footer {
  margin-top: -20px;
}

.card.hotel-info:hover.plus-active {
  background: #B2C1E8;
}

.card.hotel-info:hover.plus-active .link {
  visibility: visible;
}

.card.hotel-info:hover.plus-active .card-header {
  background: #B2C1E8;
}

.card.hotel-info:hover.minus-active {
  background: #e8b2b2;
}

.card.hotel-info:hover.minus-active .link {
  visibility: visible;
}

.card.hotel-info:hover.minus-active .card-header {
  background: #e8b2b2;
}

@media (min-width: 1200px) {
  .sidebar-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .sidebar-item ::-webkit-scrollbar {
    width: 0px;
  }
  .sidebar-item ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  .sidebar-item ::-webkit-scrollbar-thumb {
    background: rgba(142, 147, 168, 0.5);
    border-radius: 10px;
  }
  .sidebar-item ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
  .make-me-sticky {
    position: sticky;
    top: 100px;
    padding: 0 10px;
    max-height: 100vh;
    overflow-y: auto;
  }
}

/*===// end of common css === */
/*=== component start === */
.navbar {
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.05);
}

@media (min-width: 1200px) {
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.navbar .info-header .avatar {
  margin-right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.navbar .info-header .avatar img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.navbar .info-header .card-title {
  font-size: 20px;
  color: #161558;
  font-weight: 700;
  margin-bottom: 0;
  white-space: nowrap;
}

.navbar .info-header p, .navbar .info-header #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li .navbar .info-header p, .navbar .info-header #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .navbar .info-header p {
  font-size: 12px;
  color: #161558;
  font-weight: 400;
}

.navbar .archive li, .navbar .archive #reputation .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li .navbar .archive .btn {
  background: #fff;
  border-radius: 10px;
  padding: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #8E93A8;
  box-shadow: 0 2px 64px rgba(22, 21, 88, 0.05);
  margin: 0 7px;
  white-space: nowrap;
}

.navbar .archive li img, .navbar .archive #reputation .hotel-details .accordion li .btn img, #reputation .hotel-details .accordion li .navbar .archive .btn img {
  padding-bottom: 4px;
}

.navbar .form-check-label {
  font-size: 12px;
  font-weight: 700;
  color: #161558;
  padding-right: 10px;
}

.navbar .nav-link.user {
  position: relative;
}

.navbar .nav-link.user img {
  width: 55px;
}

.navbar .nav-link.user i {
  position: absolute;
  bottom: 0;
  left: -8px;
  font-size: 20px;
  color: #DB8B2F;
}

.navbar.navbar-details .navbar-nav {
  align-items: center;
  margin-left: 100px;
}

.navbar.navbar-details .navbar-nav li, .navbar.navbar-details .navbar-nav #reputation .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li .navbar.navbar-details .navbar-nav .btn {
  padding-left: 10px;
}

@media (max-width: 1199px) {
  .navbar.navbar-details .navbar-nav {
    flex-direction: row;
    margin-left: 0;
    padding: 30px 0;
  }
}

.navbar.navbar-details .navbar-nav .price {
  font-size: 24px;
  font-weight: 700;
  color: #161558;
}

.navbar.navbar-details .navbar-nav .flag img {
  width: 45px;
}

.navbar.navbar-details .navbar-nav .user {
  position: relative;
}

.navbar.navbar-details .navbar-nav .user span {
  background: #42BE65;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  padding: 2px 5px;
  border-radius: 2px;
  position: absolute;
  bottom: -5px;
  left: -12px;
}

.modal-content {
  border: none;
  border-radius: 20px;
  padding: 30px;
}

.login-modal p, .login-modal #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li .login-modal p, .login-modal #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .login-modal p {
  padding: 20px 0;
  white-space: pre-line;
  line-height: 2.5;
}

.login-modal .login-option-link {
  background: #fff;
  border-radius: 10px;
  padding: 13px;
  width: 100%;
  display: block;
  box-shadow: 0 10px 20px rgba(41, 41, 56, 0.2);
  height: 55px;
}

.login-modal .divider {
  position: relative;
}

.login-modal .divider::before {
  content: "";
  width: 20%;
  height: 1px;
  background: #D7E1EA;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
}

.login-modal .divider::after {
  content: "";
  width: 20%;
  height: 1px;
  background: #D7E1EA;
  position: absolute;
  top: 50%;
  right: 55%;
  transform: translateY(-50%);
}

.package-modal .header p, .package-modal .header #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li .package-modal .header p, .package-modal .header #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .package-modal .header p {
  padding: 20px 0 30px 0;
}

.package-modal .packages .card {
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(22, 21, 88, 0.2);
  height: 100%;
}

.package-modal .packages .card .title {
  font-size: 24px;
  font-weight: 700;
  color: #161558;
}

.package-modal .packages .card .title i {
  color: #8E93A8;
  padding-left: 5px;
  font-size: 90%;
}

.package-modal .packages .card .price {
  font-size: 32px;
  font-weight: 700;
  color: #161558;
  padding: 25px 0;
}

.package-modal .packages .card .price sub,
.package-modal .packages .card .price sup {
  font-size: 12px;
  font-weight: 400;
  color: #161558;
}

.package-modal .packages .card ul {
  padding-left: 1rem;
}

.package-modal .packages .card ul li, .package-modal .packages .card ul #reputation .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li .package-modal .packages .card ul .btn {
  font-size: 14px;
  color: #161558;
  padding: 7px 0;
}

.package-modal .packages .card ul li i, .package-modal .packages .card ul #reputation .hotel-details .accordion li .btn i, #reputation .hotel-details .accordion li .package-modal .packages .card ul .btn i {
  padding-right: 5px;
  font-size: 20px;
}

.package-modal .packages .card ul li i.fa-check, .package-modal .packages .card ul #reputation .hotel-details .accordion li .btn i.fa-check, #reputation .hotel-details .accordion li .package-modal .packages .card ul .btn i.fa-check {
  color: #42BE65;
}

.package-modal .packages .card ul li i.fa-times, .package-modal .packages .card ul #reputation .hotel-details .accordion li .btn i.fa-times, #reputation .hotel-details .accordion li .package-modal .packages .card ul .btn i.fa-times {
  color: #FC3F38;
}

.package-modal .packages .card .btn-lg {
  padding: 12px 10px;
  font-size: 16px;
  margin-top: 25px;
}

.package-modal .package-modal-footer {
  background: #fff;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.05);
  margin: 20px 0 10px 0;
}

#currencyModal .modal-content {
  padding: 15px 0;
}

#currencyModal .modal-header {
  padding: 15px 30px;
}

#currencyModal .modal-header .modal-title {
  font-weight: 700;
  color: #161558;
}

#currencyModal .modal-body {
  padding: 30px;
}

#currencyModal .modal-body h3 {
  font-size: 16px;
  font-weight: 700;
  color: #161558;
}

#currencyModal .modal-body ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  padding-left: 0;
  padding-top: 10px;
}

#currencyModal .modal-body ul li a, #currencyModal .modal-body ul #reputation .hotel-details .accordion li .btn a, #reputation .hotel-details .accordion li #currencyModal .modal-body ul .btn a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  padding: 15px;
}

#currencyModal .modal-body ul li a i, #currencyModal .modal-body ul #reputation .hotel-details .accordion li .btn a i, #reputation .hotel-details .accordion li #currencyModal .modal-body ul .btn a i {
  font-size: 20px;
  color: #42BE65;
  display: none;
}

#currencyModal .modal-body ul li a:hover, #currencyModal .modal-body ul #reputation .hotel-details .accordion li .btn a:hover, #reputation .hotel-details .accordion li #currencyModal .modal-body ul .btn a:hover {
  background: rgba(0, 0, 0, 0.06);
}

#currencyModal .modal-body ul li a.active, #currencyModal .modal-body ul #reputation .hotel-details .accordion li .btn a.active, #reputation .hotel-details .accordion li #currencyModal .modal-body ul .btn a.active {
  background: rgba(0, 0, 0, 0.06);
}

#currencyModal .modal-body ul li a.active i, #currencyModal .modal-body ul #reputation .hotel-details .accordion li .btn a.active i, #reputation .hotel-details .accordion li #currencyModal .modal-body ul .btn a.active i {
  display: block;
}

#languageModal .modal-content {
  padding: 15px 0;
}

#languageModal .modal-header {
  padding: 15px 30px;
}

#languageModal .modal-header .modal-title {
  font-weight: 700;
  color: #161558;
}

#languageModal .modal-body {
  padding: 30px;
}

#languageModal .modal-body h3 {
  font-size: 16px;
  font-weight: 700;
  color: #161558;
}

#languageModal .modal-body ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  padding-left: 0;
  padding-top: 10px;
}

@media (max-width: 767px) {
  #languageModal .modal-body ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  #languageModal .modal-body ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#languageModal .modal-body ul li a, #languageModal .modal-body ul #reputation .hotel-details .accordion li .btn a, #reputation .hotel-details .accordion li #languageModal .modal-body ul .btn a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  padding: 15px;
}

#languageModal .modal-body ul li a img, #languageModal .modal-body ul #reputation .hotel-details .accordion li .btn a img, #reputation .hotel-details .accordion li #languageModal .modal-body ul .btn a img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#languageModal .modal-body ul li a i, #languageModal .modal-body ul #reputation .hotel-details .accordion li .btn a i, #reputation .hotel-details .accordion li #languageModal .modal-body ul .btn a i {
  font-size: 20px;
  color: #42BE65;
  display: none;
}

#languageModal .modal-body ul li a:hover, #languageModal .modal-body ul #reputation .hotel-details .accordion li .btn a:hover, #reputation .hotel-details .accordion li #languageModal .modal-body ul .btn a:hover {
  background: rgba(0, 0, 0, 0.06);
}

#languageModal .modal-body ul li a.active, #languageModal .modal-body ul #reputation .hotel-details .accordion li .btn a.active, #reputation .hotel-details .accordion li #languageModal .modal-body ul .btn a.active {
  background: rgba(0, 0, 0, 0.06);
}

#languageModal .modal-body ul li a.active i, #languageModal .modal-body ul #reputation .hotel-details .accordion li .btn a.active i, #reputation .hotel-details .accordion li #languageModal .modal-body ul .btn a.active i {
  display: block;
}

.table .accordion-button {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  width: auto;
}

.table .accordion-button::after {
  margin-left: 15px;
}

.table tr th {
  color: #161558;
}

.table tr td {
  color: #8E93A8;
}

.table tr.tr-blue th,
.table tr.tr-blue td {
  color: #2953C0;
}

.table .th-blue {
  font-weight: 700;
  color: #2953C0;
}

.table .max-width-50 {
  max-width: 50px;
}

.table .dot-blue i,
.table .dot-yellow i,
.table .dot-pink i {
  margin-right: 5px;
  font-size: 14px;
}

.table .dot-blue i {
  color: #22359F;
}

.table .dot-pink i {
  color: #D91A73;
}

.table .dot-yellow i {
  color: #F7DD16;
}

.dashboard-table {
  text-align: center;
}

.dashboard-table ::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  border: 1px solid #d5d5d5;
}

.dashboard-table ::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

.dashboard-table ::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}

.dashboard-table tr th:first-child,
.dashboard-table tr td:first-child {
  position: sticky;
  left: 0;
  background: #fff;
  z-index: 999;
  text-align: left;
}

.booking-table {
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1199px) {
  .booking-table {
    margin-top: 30px;
  }
}

.booking-table .card-body {
  padding: 15px;
}

.booking-table .table thead {
  background: #F5F7FA;
}

.booking-table .table thead tr td {
  padding: 10px;
}

.booking-table .table tr td {
  font-size: 14px;
  color: #161558;
}

.booking-table .table tr td a {
  margin: 3px;
  display: inline-block;
}

.booking-table tbody::before {
  content: "_";
  display: block;
  color: transparent;
  line-height: 15px;
  text-indent: -99999px;
}

.calendar-table {
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1199px) {
  .calendar-table {
    margin-top: 30px;
  }
}

.calendar-table .card-body {
  padding: 15px;
}

.calendar-table .form-switch .form-check-input {
  width: 1.6em;
}

.calendar-table .form-check-input {
  height: 0.8em;
  border-width: 2px;
}

.calendar-table .form-check-input:checked {
  background-color: #42BE65;
  border-color: #42BE65;
}

.calendar-table thead tr {
  background: #F5F7FA;
}

.calendar-table thead tr th {
  border-bottom: none;
  padding: 10px;
}

.calendar-table thead tr td {
  border-bottom: none;
  color: #161558;
  padding: 10px;
}

.calendar-table thead tr .header-action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.calendar-table thead tr .header-action a {
  color: #8E93A8;
}

.calendar-table tbody::before {
  content: "_";
  display: block;
  color: transparent;
  line-height: 15px;
  text-indent: -99999px;
}

.calendar-table .accordion-button {
  color: #2953C0;
}

.calendar-table .accordion-button.collapsed {
  color: #161558;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #fff;
  box-shadow: 0 10px 20px rgba(22, 21, 88, 0.2);
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #fff;
  box-shadow: 0 10px 20px rgba(22, 21, 88, 0.2);
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #fff;
  box-shadow: 0 10px 20px rgba(22, 21, 88, 0.2);
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #fff;
  box-shadow: 0 10px 20px rgba(22, 21, 88, 0.2);
  top: -5px;
}

.tooltip.show {
  opacity: 1;
}

.tooltip > .tooltip-inner {
  background: #fff;
  box-shadow: 0 10px 20px rgba(22, 21, 88, 0.2);
  border-radius: 7px;
  padding: 5px 8px;
  opacity: 1;
}

.tooltip > .tooltip-inner p, .tooltip > .tooltip-inner #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li .tooltip > .tooltip-inner p, #reputation .hotel-details .text ul .accordion li .btn .tooltip > .tooltip-inner p, .tooltip > .tooltip-inner #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .tooltip > .tooltip-inner p {
  color: #161558;
  font-size: 12px;
}

.tooltip > .tooltip-inner h6 {
  color: #42BE65;
  font-weight: 700;
  font-size: 16px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 20px;
}

@media (min-width: 1200px) {
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .footer {
    text-align: center;
  }
}

.footer .footer-top {
  padding-bottom: 5px;
}

.footer .footer-top img {
  width: 120px;
}

@media (min-width: 992px) {
  .footer .footer-bottom p, .footer .footer-bottom #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li .footer .footer-bottom p, .footer .footer-bottom #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .footer .footer-bottom p {
    padding-right: 30px;
  }
}

.footer .footer-bottom .right ul {
  padding-left: 0;
}

@media (min-width: 992px) {
  .footer .footer-bottom .right ul li:first-child, .footer .footer-bottom .right ul #reputation .hotel-details .accordion li .btn:first-child, #reputation .hotel-details .accordion li .footer .footer-bottom .right ul .btn:first-child {
    padding-right: 30px;
  }
}

.footer .footer-bottom .right ul li a, .footer .footer-bottom .right ul #reputation .hotel-details .accordion li .btn a, #reputation .hotel-details .accordion li .footer .footer-bottom .right ul .btn a {
  font-size: 16px;
  font-weight: 700;
  color: #161558;
  transition: all 0.2s linear;
}

.footer .footer-bottom .right ul li a:hover, .footer .footer-bottom .right ul #reputation .hotel-details .accordion li .btn a:hover, #reputation .hotel-details .accordion li .footer .footer-bottom .right ul .btn a:hover {
  color: #2953C0;
}

/*===// end of component === */
/*=== pages start === */
#home {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  background: #2953C0;
}

#home .btn.btn-blue {
  border-radius: 8px;
  background-color: #2953C0;
  color: #fff;
  border: 1px solid #fff;
  min-width: 120px;
}

#home .btn.btn-blue:hover {
  background-color: #161558;
  border: 1px solid #161558;
}

#home .btn-primary {
  border-radius: 8px;
  background-color: #161558;
  color: #fff;
  border: 1px solid #161558;
  min-width: 120px;
}

#home .btn-primary:hover {
  background-color: #2953C0;
  border: 1px solid #2953C0;
}

#home .sec-title {
  font-size: 55px;
  font-weight: 800;
  color: #fff;
  white-space: pre-line;
  text-transform: capitalize;
}

@media (max-width: 575px) {
  #home .sec-title {
    font-size: 35px;
  }
}

@media (max-width: 1199px) {
  #home .sec-title {
    padding-top: 40px;
  }
}

#home .navbar {
  box-shadow: none;
  padding: 25px 0;
}

#home .navbar .nav-item .nav-link {
  color: #fff;
}

#home .navbar .nav-item .nav-link:hover {
  color: #cccccc;
}

#home .banner {
  padding: 60px 0;
}

@media (min-width: 1400px) {
  #home .banner .banner-content .text {
    padding-right: 100px;
  }
}

#home .banner .banner-content .text h1 {
  font-size: 55px;
  color: #fff;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  #home .banner .banner-content .text h1 {
    font-size: 35px;
  }
}

@media (max-width: 1199px) {
  #home .banner .banner-content .text h1 {
    padding-top: 40px;
  }
}

#home .banner .banner-content .text p {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

#home .banner .banner-content .text p span {
  opacity: 0.6;
}

#home .banner .banner-content .video {
  border-radius: 20px;
  overflow: hidden;
}

#home .analysis-form {
  overflow: hidden;
}

@media (min-width: 1200px) {
  #home .analysis-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
  #home .analysis-form .col-xxl-10 {
    width: 88%;
  }
  #home .analysis-form .col-xxl-2 {
    width: 12%;
  }
}

#home .analysis-form .main-form {
  background: #5475CD;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
}

#home .analysis-form .main-form .form-title {
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}

#home .analysis-form .main-form label {
  display: block;
  color: #fff;
  margin-bottom: 5px;
}

#home .analysis-form .main-form span {
  color: #fff;
  font-size: 14px;
}

#home .analysis-form .main-form .form-control, #home .analysis-form .main-form .form-select {
  height: 45px;
}

#home .analysis-form .main-form .btn-primary {
  height: 45px;
  margin-top: 28px;
}

#home .analysis-form .chat {
  background: #2546AC;
  height: 100%;
  text-align: center;
  padding: 30px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#home .analysis-form .chat .chat-heading {
  color: #fff;
  font-weight: 600;
}

@media (max-width: 1199px) {
  #home .analysis-form .chat .chat-heading {
    padding: 30px 15px;
  }
}

#home .analysis-form .chat p, #home .analysis-form .chat #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li #home .analysis-form .chat p, #home .analysis-form .chat #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn #home .analysis-form .chat p {
  color: #fff;
  font-size: 14px;
}

#home .analysis-form .chat img {
  width: 80px;
}

@media (min-width: 1400px) {
  #home .analysis-form .chat img {
    margin: auto;
  }
}

#home .scroll-down {
  text-align: center;
  padding: 30px 0 40px 0;
}

#home .scroll-down .fa-mouse-alt {
  font-size: 40px;
  color: #fff;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

#home .scroll-down p, #home .scroll-down #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li #home .scroll-down p, #home .scroll-down #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn #home .scroll-down p {
  color: #fff;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#home .why-use {
  padding: 40px 0 80px 0;
}

#home .why-use .item {
  background-image: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0.1));
  border-radius: 25px;
  padding: 1px;
}

#home .why-use .item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#home .why-use .item .content {
  border-radius: inherit;
  background: #2953C0;
  padding: 30px 20px;
}

#home .why-use .item .content i {
  font-size: 40px;
  background: -webkit-linear-gradient(300deg, #fff, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home .why-use .item .content .heading {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  padding: 15px 0 20px 0;
}

#home .why-use .item .content p {
  color: #fff;
  font-size: 16px;
}

#home .easy-use {
  background: #fff url(../images/index/analytic-bg.png) no-repeat top left;
  padding: 100px 0;
}

@media (max-width: 1199px) {
  #home .easy-use {
    background: #fff;
  }
}

#home .easy-use .video {
  border-radius: 20px;
  overflow: hidden;
}

#home .easy-use .text .sec-title {
  color: #161558;
}

#home .easy-use .text p, #home .easy-use #reputation .hotel-details .text ul li p, #reputation .hotel-details #home .easy-use .text ul li p, #home .easy-use #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li #home .easy-use .text ul .btn p {
  color: #161558;
  font-size: 18px;
  margin-bottom: 20px;
}

#home .easy-use .text .try-free span {
  color: #161558;
}

#home .features {
  padding-bottom: 80px;
}

#home .features .date-item {
  background: #2953C0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

#home .features .date-item::before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
}

@media (min-width: 1400px) {
  #home .features .date-item::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    z-index: 1;
  }
  #home .features .date-item.no-line::after {
    width: 0%;
  }
}

#home .features .item .content {
  border-radius: inherit;
  background: #2953C0;
}

#home .features .item .content i {
  font-size: 40px;
  background: -webkit-linear-gradient(300deg, #fff, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home .features .item .content .heading {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  padding: 15px 0 20px 0;
}

#home .features .item .content p {
  color: #fff;
  font-size: 16px;
}

#home .package-section {
  padding: 80px 0;
}

#home .package-section .packages .card {
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(22, 21, 88, 0.2);
  height: 100%;
}

#home .package-section .packages .card .title {
  font-size: 35px;
  font-weight: 800;
  color: #161558;
  text-align: center;
  margin-bottom: 0;
}

#home .package-section .packages .card .price {
  font-size: 45px;
  font-weight: 800;
  color: #161558;
  text-align: center;
  margin-bottom: 20px;
}

#home .package-section .packages .card .price sub,
#home .package-section .packages .card .price sup {
  font-size: 20px;
  font-weight: 800;
  color: #161558;
}

#home .package-section .packages .card ul {
  padding-left: 1rem;
}

#home .package-section .packages .card ul li, #home .package-section .packages .card ul #reputation .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li #home .package-section .packages .card ul .btn {
  font-size: 20px;
  color: #161558;
  padding: 3px 0;
}

#home .package-section .packages .card ul li i, #reputation .hotel-details .accordion li #home .package-section .packages .card ul .btn i {
  padding-right: 5px;
  font-size: 20px;
}

#home .package-section .packages .card ul li i.fa-check-circle, #reputation .hotel-details .accordion li #home .package-section .packages .card ul .btn i.fa-check-circle {
  color: #42BE65;
}

#home .package-section .packages .card ul li i.fa-times-circle, #reputation .hotel-details .accordion li #home .package-section .packages .card ul .btn i.fa-times-circle {
  color: #FC3F38;
}

#home .package-section .packages .card .btn-lg {
  padding: 12px 10px;
  font-size: 16px;
  margin-top: 25px;
}

#home .package-section .packages .card.transparen-card {
  background: transparent;
  border: 2px solid #fff;
}

#home .package-section .packages .card.transparen-card ul li, #home .package-section .packages .card.transparen-card ul #reputation .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li #home .package-section .packages .card.transparen-card ul .btn,
#home .package-section .packages .card.transparen-card .title, #home .package-section .packages .card.transparen-card .price, #home .package-section .packages .card.transparen-card sup, #home .package-section .packages .card.transparen-card sub {
  color: #fff;
}

#home .newsletter {
  padding-bottom: 80px;
}

#home .newsletter .main-form {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 20px;
}

#home .newsletter .main-form .form-control, #home .newsletter .main-form .btn {
  height: 45px;
}

#home .footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px 0;
}

#home .footer .footer-top img {
  max-width: 100px;
}

#home .footer .footer-bottom p, #home .footer .footer-bottom #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li #home .footer .footer-bottom p, #home .footer .footer-bottom #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn #home .footer .footer-bottom p {
  color: #fff;
}

#home .footer .footer-bottom .right ul li a, #reputation .hotel-details .accordion li #home .footer .footer-bottom .right ul .btn a {
  color: #fff;
}

#home .footer .footer-bottom .right ul li a:hover, #reputation .hotel-details .accordion li #home .footer .footer-bottom .right ul .btn a:hover {
  color: #161558;
}

@media (min-width: 1200px) {
  #home .footer {
    margin-bottom: 200px;
  }
}

.loader-body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.preloader {
  text-align: center;
}

.preloader i {
  color: #8E93A8;
  font-size: 50px;
  animation: rotating 2s linear infinite;
}

.preloader h4 {
  font-size: 24px;
  font-weight: 700;
  color: #161558;
  padding-top: 15px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard-content {
  padding: 30px;
}

.dashboard-content .search-accordion-btn {
  font-weight: 700;
  border-radius: 10px;
}

.dashboard-content .dashboard-form .input-item {
  width: 80%;
}

@media (max-width: 991px) {
  .dashboard-content .dashboard-form .input-item {
    width: 100%;
  }
}

.dashboard-content .dashboard-form .input-item i {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #8E93A8;
}

@media (max-width: 991px) {
  .dashboard-content .dashboard-form .input-item i {
    top: 35%;
  }
}

.dashboard-content .dashboard-form .input-item .badge {
  position: absolute;
  top: -10px;
  right: 0;
  font-weight: 400;
  border-radius: 10px;
}

.dashboard-content .dashboard-form .btn-lg {
  padding: 0.3rem 2rem;
  white-space: nowrap;
}

#setting .autopilot {
  padding: 10px 0;
}

#setting .autopilot .card-title {
  margin-bottom: 20px;
}

#setting .autopilot label {
  font-size: 16px;
  color: #8E93A8;
  margin-bottom: 5px;
}

#setting .autopilot .form-control {
  font-size: 16px;
  max-width: 80px;
}

#setting .autopilot .form-control::placeholder {
  color: #8E93A8;
}

#setting .autopilot span {
  font-size: 16px;
  color: #161558;
  font-weight: 700;
  padding-right: 10px;
}

#setting .info {
  padding: 10px 0;
}

#setting .info .card-title {
  margin-bottom: 20px;
}

#setting .info ul li, #setting .info ul #reputation .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li #setting .info ul .btn {
  font-size: 12px;
  color: #8E93A8;
  padding: 0 15px;
}

#setting .info label {
  font-size: 16px;
  color: #8E93A8;
  padding-bottom: 5px;
}

#setting .info label i {
  padding-left: 10px;
  color: #D7E1EA;
}

#setting .info .form-control, #setting .info .form-control::placeholder, #setting .info .form-select {
  font-size: 16px;
  color: #161558;
}

#setting .invoice {
  padding: 10px 0;
}

#setting .invoice ul li, #setting .invoice ul #reputation .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li #setting .invoice ul .btn {
  font-size: 12px;
  color: #8E93A8;
  padding: 0 15px;
}

#setting .invoice .table tr:last-child {
  border: transparent;
}

#setting .invoice .table > :not(caption) > * > * {
  padding: 1rem .5rem;
}

#setting .invoice label {
  font-size: 16px;
  color: #8E93A8;
  padding-bottom: 5px;
}

#setting .invoice label i {
  padding-left: 10px;
  color: #D7E1EA;
}

#setting .invoice h4 {
  font-size: 16px;
  color: #161558;
  font-weight: 700;
}

#setting .invoice .download {
  color: #2953C0;
  font-size: 25px;
  vertical-align: bottom;
}

@media (min-width: 992px) {
  #setting .invoice .download {
    width: 35%;
  }
}

#setting .package-price {
  padding: 10px 0;
}

@media (max-width: 767px) {
  #setting .package-price .d-flex {
    flex-direction: column;
  }
}

#setting .package-price p, #setting .package-price #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li #setting .package-price p, #setting .package-price #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn #setting .package-price p {
  font-size: 12px;
  color: #8E93A8;
}

#setting .package-price p b, #setting .package-price #reputation .hotel-details .text ul li p b, #reputation .hotel-details .text ul li #setting .package-price p b, #setting .package-price #reputation .hotel-details .accordion li .text ul .btn p b, #reputation .hotel-details .accordion li .text ul .btn #setting .package-price p b {
  font-size: 16px;
  color: #161558;
  padding-left: 10px;
}

@media (min-width: 992px) {
  #setting .package-price .action {
    width: 40%;
  }
}

#setting .package-price .btn {
  font-size: 16px;
  padding: 0.5rem 0;
  width: 150px;
}

#setting .collapse-btn {
  color: #8E93A8;
}

#configuration {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#configuration .footer {
  margin-top: auto;
}

.configuration .card {
  border-radius: 20px;
}

@media (min-width: 1200px) {
  .configuration .container {
    max-width: 1170px;
  }
}

.configuration .configured-btn {
  height: 50px;
  width: 100%;
  padding: 0;
  line-height: 50px;
  background: #161558;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
}

.configuration.configuration-1 .heading {
  font-size: 24px;
  font-weight: 700;
  color: #161558;
  margin-top: 30px;
}

.configuration .plan .plan-item .plan-name {
  font-size: 20px;
  font-weight: 700;
  color: #161558;
}

.configuration .plan .plan-item .plan-name i {
  color: #8E93A8;
  font-size: 18px;
}

.configuration .plan .plan-item ul {
  padding: 15px 0;
  margin-bottom: 15px;
}

.configuration .plan .plan-item ul li, .configuration .plan .plan-item ul #reputation .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li .configuration .plan .plan-item ul .btn {
  font-size: 14px;
  color: #161558;
  padding: 4px;
}

.configuration .plan .plan-item ul li i, .configuration .plan .plan-item ul #reputation .hotel-details .accordion li .btn i, #reputation .hotel-details .accordion li .configuration .plan .plan-item ul .btn i {
  color: #42BE65;
  font-size: 14px;
  padding-right: 5px;
}

.configuration .plan .plan-item p, .configuration .plan .plan-item #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li .configuration .plan .plan-item p, .configuration .plan .plan-item #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .configuration .plan .plan-item p {
  font-size: 14px;
  color: #161558;
}

.configuration .plan .plan-item .pricing h2 {
  font-size: 32px;
  font-weight: 700;
  color: #161558;
}

.configuration .plan .plan-item .pricing h2 sup {
  font-size: 14px;
  font-weight: 400;
}

.configuration .plan .plan-item .pricing h2 sub {
  font-size: 14px;
  font-weight: 400;
}

.configuration .plan .plan-item .pricing p, .configuration .plan .plan-item .pricing #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li .configuration .plan .plan-item .pricing p, .configuration .plan .plan-item .pricing #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .configuration .plan .plan-item .pricing p {
  padding: 30px 0 10px 0;
}

.configuration .plan .plan-item .pricing .form-select {
  background-color: #fff;
  margin-bottom: 20px;
}

.configuration .plan .plan-item .pricing .btn-outline-danger {
  width: 130px;
  height: 50px;
  padding: 0;
  line-height: 50px;
  border-radius: 10px;
}

.configuration .payment-method .heading {
  background: #F5F7FA;
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 575px) {
  .configuration .payment-method .heading .d-flex {
    flex-direction: column;
  }
}

.configuration .payment-method .heading h2 {
  font-size: 24px;
  font-weight: 700;
  color: #161558;
  padding-right: 20px;
}

.configuration .payment-method .heading .card-link {
  color: #2953C0;
}

.configuration .payment-method .heading .pricing {
  font-size: 20px;
  font-weight: 700;
  color: #161558;
}

.configuration .payment-method .heading .pricing sub, .configuration .payment-method .heading .pricing sup {
  font-weight: 400;
}

.configuration .payment-method .heading p, .configuration .payment-method .heading #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li .configuration .payment-method .heading p, .configuration .payment-method .heading #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .configuration .payment-method .heading p {
  color: #161558;
  padding-top: 10px;
}

.configuration .payment-method .choose-method .title {
  font-size: 20px;
  font-weight: 700;
  color: #161558;
  margin: 40px 0 30px 0;
}

.configuration .payment-method .choose-method ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding-left: 0;
}

@media (max-width: 767px) {
  .configuration .payment-method .choose-method ul {
    grid-template-columns: 1fr;
  }
}

.configuration .payment-method .choose-method ul li, .configuration .payment-method .choose-method ul #reputation .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li .configuration .payment-method .choose-method ul .btn {
  padding: 10px 15px;
  border: 1px solid #D7E1EA;
  border-radius: 5px;
}

.configuration .payment-method .choose-method ul li:focus, .configuration .payment-method .choose-method ul #reputation .hotel-details .accordion li .btn:focus, #reputation .hotel-details .accordion li .configuration .payment-method .choose-method ul .btn:focus, .configuration .payment-method .choose-method ul li:focus-within, .configuration .payment-method .choose-method ul #reputation .hotel-details .accordion li .btn:focus-within, #reputation .hotel-details .accordion li .configuration .payment-method .choose-method ul .btn:focus-within, .configuration .payment-method .choose-method ul li.active, .configuration .payment-method .choose-method ul #reputation .hotel-details .accordion li .active.btn, #reputation .hotel-details .accordion li .configuration .payment-method .choose-method ul .active.btn {
  border-color: #2953C0;
}

.configuration .payment-method .choose-method ul li .form-check, .configuration .payment-method .choose-method ul #reputation .hotel-details .accordion li .btn .form-check, #reputation .hotel-details .accordion li .configuration .payment-method .choose-method ul .btn .form-check {
  padding-left: 0;
}

.configuration .payment-method .choose-method ul li .form-check label, .configuration .payment-method .choose-method ul #reputation .hotel-details .accordion li .btn .form-check label, #reputation .hotel-details .accordion li .configuration .payment-method .choose-method ul .btn .form-check label {
  font-size: 16px;
  color: #161558;
}

.configuration .payment-method .choose-method ul li .form-check label i, .configuration .payment-method .choose-method ul #reputation .hotel-details .accordion li .btn .form-check label i, #reputation .hotel-details .accordion li .configuration .payment-method .choose-method ul .btn .form-check label i {
  padding-right: 10px;
}

.configuration .payment-method .choose-method ul li .form-check-input[type=radio], .configuration .payment-method .choose-method ul #reputation .hotel-details .accordion li .btn .form-check-input[type=radio], #reputation .hotel-details .accordion li .configuration .payment-method .choose-method ul .btn .form-check-input[type=radio] {
  border-radius: 2px;
  border-width: 2px;
}

.configuration .payment-method .choose-method ul li .form-check-input:checked[type=radio], .configuration .payment-method .choose-method ul #reputation .hotel-details .accordion li .btn .form-check-input:checked[type=radio], #reputation .hotel-details .accordion li .configuration .payment-method .choose-method ul .btn .form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.configuration .account-details .card-details {
  max-width: 300px;
  margin: 40px auto;
  background-image: linear-gradient(180deg, #2953C0, #161558);
  padding: 30px 25px;
  border-radius: 20px;
}

.configuration .account-details .card-details label {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.configuration .account-details .card-details .form-control::placeholder,
.configuration .account-details .card-details .form-control {
  background: transparent;
  padding: 0;
  border: none;
  color: #fff;
}

.configuration .account-details .card-details .form-control::placeholder {
  letter-spacing: -1px;
}

.configuration .account-details .card-details .form-control {
  letter-spacing: 2px;
}

.configuration .account-details .card-details .form-control:focus {
  box-shadow: none;
}

.configuration .account-details .company-details label {
  font-size: 16px;
  font-weight: 700;
  color: #8E93A8;
}

.configuration .account-details .company-details .form-control, .configuration .account-details .company-details .form-control::placeholder {
  font-size: 16px;
  color: #161558;
  font-weight: 400;
  padding: 0px;
  height: 50px;
  line-height: 50px;
}

.configuration .account-details .company-details .form-control {
  padding: 0 15px;
}

.configuration .account-details .company-details .btn-box {
  display: grid;
  align-items: end;
}

.configuration .payment-success {
  text-align: center;
  display: grid;
  align-items: center;
}

.configuration .payment-success i {
  color: #42BE65;
  font-size: 30px;
  border-radius: 50%;
}

.configuration .payment-success h4 {
  font-size: 24px;
  font-weight: 700;
  color: #161558;
}

.configuration .total-plan-summary .heading {
  font-size: 15px;
  margin: 10px 0;
}

.configuration .total-plan-summary p, .configuration .total-plan-summary #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul li .configuration .total-plan-summary p, .configuration .total-plan-summary #reputation .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .configuration .total-plan-summary p {
  font-size: 15px;
}

.configuration .total-plan-summary ul {
  padding: 15px 0;
  margin: 20px 0;
}

.configuration .total-plan-summary ul li, .configuration .total-plan-summary ul #reputation .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li .configuration .total-plan-summary ul .btn {
  font-size: 14px;
  color: #161558;
  padding: 4px;
}

.configuration .total-plan-summary ul i {
  color: #42BE65;
  font-size: 14px;
  padding-right: 5px;
}

.configuration .total-plan-summary .total-pay {
  font-size: 23px;
  color: #161558;
  font-weight: 700;
  margin-bottom: 20px;
}

.channel-manager .header .input-select-group,
.channel-manager .header .option-btn {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 30px;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .channel-manager .header .input-select-group,
  .channel-manager .header .option-btn {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    place-items: center;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .channel-manager .header .input-select-group,
  .channel-manager .header .option-btn {
    grid-template-columns: repeat(4, 150px);
  }
}

.channel-manager .header .input-select-group .btn-white,
.channel-manager .header .option-btn .btn-white {
  max-width: 200px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  color: #8E93A8;
  padding: 0 10px;
  display: block;
  text-align: left;
  border-radius: 5px;
  white-space: nowrap;
}

@media (max-width: 1199px) {
  .channel-manager .header .input-select-group .btn-white,
  .channel-manager .header .option-btn .btn-white {
    max-width: 100%;
  }
}

.channel-manager .header .input-select-group .btn-white i,
.channel-manager .header .option-btn .btn-white i {
  padding-right: 5px;
}

.channel-manager .header .input-select-group .btn-white.active, .channel-manager .header .input-select-group .btn-white:hover,
.channel-manager .header .option-btn .btn-white.active,
.channel-manager .header .option-btn .btn-white:hover {
  background: #2953C0;
  color: #fff;
}

.channel-manager .header .input-select-group .form-select {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

.channel-manager .header ul li, .channel-manager .header ul #reputation .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li .channel-manager .header ul .btn {
  font-size: 16px;
  color: #8E93A8;
}

.channel-manager .header .btn-submit {
  max-width: 200px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .channel-manager .header .btn-submit {
    max-width: 100%;
  }
}

#reputation {
  background: #fff;
}

@media (min-width: 1200px) {
  #reputation .container {
    max-width: 1170px;
  }
}

#reputation .top-info {
  position: absolute;
  top: 7px;
  right: 10px;
  color: #D7E1EA;
  font-size: 110%;
}

#reputation .top-info:hover {
  color: #b6c8d8;
}

#reputation .analytics {
  padding: 60px 0;
}

#reputation .analytics .chart-analytics {
  text-align: center;
  padding-bottom: 30px;
}

#reputation .analytics .chart-analytics .title {
  font-size: 20px;
  font-weight: 700;
  color: #161558;
  padding: 20px 0 5px 0;
}

#reputation .analytics .chart-analytics p, #reputation .analytics .chart-analytics .hotel-details .text ul li p, #reputation .hotel-details .text ul li .analytics .chart-analytics p, #reputation .analytics .chart-analytics .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .analytics .chart-analytics p {
  font-size: 12px;
  color: #161558;
}

#reputation .analytics .tab-analysis .nav {
  padding: 20px 0 15px 0;
}

#reputation .analytics .tab-analysis .nav .nav-link {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 0;
}

#reputation .analytics .tab-analysis .nav .nav-link .top-icon {
  font-size: 20px;
  color: #D7E1EA;
  padding-right: 10px;
}

#reputation .analytics .tab-analysis .nav .nav-link.active .top-icon {
  color: #161558;
}

#reputation .analytics .tab-analysis .nav .nav-link h3 {
  font-size: 20px;
  font-weight: 700;
  color: #D7E1EA;
}

#reputation .analytics .tab-analysis .nav .nav-link h3 sub {
  font-size: 10px;
  font-weight: normal;
}

#reputation .analytics .tab-analysis .text .title {
  font-size: 16px;
  font-weight: 700;
  color: #161558;
  padding-bottom: 10px;
}

#reputation .analytics .tab-analysis .text p {
  font-size: 14px;
}

#reputation .analytics .tab-analysis .text ul {
  padding: 20px 0;
}

#reputation .analytics .tab-analysis .text ul li, #reputation .analytics .tab-analysis .text ul .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li .analytics .tab-analysis .text ul .btn {
  padding: 5px 0;
}

#reputation .analytics .tab-analysis .text ul li span, #reputation .hotel-details .accordion li .analytics .tab-analysis .text ul .btn span {
  font-size: 12px;
  padding-left: 15px;
  color: #FC3F38;
}

#reputation .analytics .tab-analysis .progress {
  min-width: 100px;
  height: 8px;
  border-radius: 0.5rem;
}

#reputation .hotel-details {
  margin-bottom: 60px;
}

#reputation .hotel-details .card {
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

#reputation .hotel-details .hotel-details-header {
  font-size: 16px;
  font-weight: 700;
  color: #161558;
  padding-bottom: 15px;
}

#reputation .hotel-details .accordion li, #reputation .hotel-details .accordion li .btn {
  font-size: 16px;
  font-weight: 400;
}

#reputation .hotel-details .accordion li .btn:focus {
  box-shadow: none;
}

#reputation .hotel-details .accordion .card.accordion-target {
  background: #F5F7FA;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: none;
}

#reputation .hotel-details .accordion .card.accordion-target .table thead th,
#reputation .hotel-details .accordion .card.accordion-target .table thead td {
  font-size: 12px;
  color: #161558;
  border-bottom: 1px solid #8E93A8;
}

#reputation .hotel-details .accordion .card.accordion-target .table tbody::before {
  content: "_";
  display: block;
  color: transparent;
  line-height: 15px;
  text-indent: -99999px;
}

#reputation .hotel-details .accordion .card.accordion-target .table tbody td {
  font-size: 14px;
  color: #161558;
}

#reputation .hotel-details .accordion .card.accordion-target .table tbody th {
  font-size: 14px;
  color: #8E93A8;
}

#reputation .hotel-details .accordion .card.accordion-target .table tbody .progress {
  min-width: 100px;
  height: 8px;
  border-radius: 0.5rem;
}

#reputation .hotel-details .show-more-btn {
  font-size: 16px;
  font-weight: 700;
  color: #8E93A8;
  margin-top: 20px;
}

#reputation .hotel-details .show-more-btn:hover {
  color: #161558;
}

#reputation .hotel-details .text {
  height: 100%;
}

#reputation .hotel-details .text .title {
  font-size: 16px;
  font-weight: 700;
  color: #161558;
}

#reputation .hotel-details .text p, #reputation .hotel-details .text ul li p, #reputation .hotel-details .text ul .accordion li .btn p, #reputation .hotel-details .accordion li .text ul .btn p {
  font-size: 14px;
  color: #161558;
  padding: 15px 0;
  line-height: 24px;
}

#reputation .hotel-details .text ul li h4, #reputation .hotel-details .text ul .accordion li .btn h4, #reputation .hotel-details .accordion li .text ul .btn h4 {
  font-size: 14px;
  font-weight: 700;
  color: #161558;
  min-width: 100px;
}

#reputation .filter .filter-full {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

@media (max-width: 767px) {
  #reputation .filter .filter-full {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #reputation .filter .filter-full {
    grid-template-columns: repeat(3, 1fr);
  }
}

#reputation .map-bar {
  margin-top: 20px;
}

#reputation .map-bar .card {
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

#reputation .map-bar .show-more-btn {
  font-size: 16px;
  font-weight: 700;
  color: #8E93A8;
  margin-top: 20px;
}

#reputation .map-bar .show-more-btn:hover {
  color: #161558;
}

#reputation .feedback .card {
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

#reputation .feedback .feedback-header h3 {
  font-size: 20px;
  font-weight: 700;
}

#reputation .feedback .feedback-header h3 i {
  color: #161558;
  padding-right: 5px;
}

#reputation .feedback .feedback-header ul li, #reputation .feedback .feedback-header ul .hotel-details .accordion li .btn, #reputation .hotel-details .accordion li .feedback .feedback-header ul .btn {
  padding: 0 10px;
  font-size: 12px;
  color: #161558;
}

#reputation .feedback .feedback-header .link a {
  padding: 0 7px;
}

#reputation .feedback .feedbck-body p, #reputation .feedback .feedbck-body .hotel-details .text ul li p, #reputation .hotel-details .text ul li .feedback .feedbck-body p, #reputation .feedback .feedbck-body .hotel-details .accordion li .text ul .btn p, #reputation .hotel-details .accordion li .text ul .btn .feedback .feedbck-body p {
  padding: 20px 0;
  font-size: 16px;
  color: #161558;
}

#reputation .feedback .feedbck-body .link {
  padding-bottom: 20px;
}

#reputation .feedback .feedbck-body .link a {
  font-weight: 700;
  font-size: 12px;
  padding-right: 20px;
}

#reputation .feedback .feedback-footer {
  padding-top: 20px;
}

#reputation .feedback .feedback-footer em {
  font-size: 16px;
  color: #8E93A8;
  font-weight: 300;
}

/*===// end of pages === */
