@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #F5F7FA;
}


$color-primary: #2953C0;
$color-danger: #FC3F38;
$color-success: #42BE65;
$color-warning: #DB8B2F;
$color-white: #fff;
$color-black: #000;
$text-primary: #161558;
