.dashboard-content {
  padding: 30px;

  .search-accordion-btn {
    font-weight: 700;
    border-radius: 10px;
  }
  
  .dashboard-form {

    .input-item {
      width: 80%;
      @media (max-width: 991px){
        width: 100%;
      }
      i {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        color: #8E93A8;

        @media (max-width: 991px){
          top: 35%;
        }
      }

      .badge{
        position: absolute;
        top: -10px;
        right: 0;
        font-weight: 400;
        border-radius: 10px;
      }

    }

    .btn-lg {
      padding: 0.3rem 2rem;
      white-space: nowrap;
    }
    
  }
}