.navbar {
  box-shadow: 0 2px 64px  rgba(0,0,0,.05);
  @media(min-width: 1200px){
    padding-right: 15px;
    padding-left: 15px;
  }

  .info-header {
    .avatar {
      margin-right: 10px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      img {
        width: inherit;
        height: inherit;
        border-radius: inherit;
      }
    }
    .card-title {
      font-size: 20px;
      color: $text-primary;
      font-weight: 700;
      margin-bottom: 0;
      white-space: nowrap;
    }
    p {
      font-size: 12px;
      color: $text-primary;
      font-weight: 400;
    }

  }

  .archive {
    li {
      background: $color-white;
      border-radius: 10px;
      padding: 8px;
      font-size: 20px;
      font-weight: 700;
      color: #8E93A8;
      box-shadow: 0 2px 64px rgba(#161558, 0.05);
      margin: 0 7px;
      white-space: nowrap;
      img {
        padding-bottom: 4px;
      }
    }
  }

  .form-check-label {
    font-size: 12px;
    font-weight: 700;
    color: $text-primary;
    padding-right: 10px;
  }

  .nav-link.user{
    position: relative;
    img {
      width: 55px;
    }

    i {
      position: absolute;
      bottom: 0;
      left: -8px;
      font-size: 20px;
      color: $color-warning;
    }
  }

  &.navbar-details {


    .navbar-nav {
      align-items: center;
      margin-left: 100px;
      li {
        padding-left: 10px;
      }

      @media(max-width: 1199px){
        flex-direction: row;
        margin-left: 0;
        padding: 30px 0;
      }

      .price {
        font-size: 24px;
        font-weight: 700;
        color: $text-primary;
      }

      .flag {
        img {
          width: 45px;
        }
      }

      .user {
        position: relative;
        span {
          background: $color-success;
          font-size: 12px;
          font-weight: 400;
          color: $color-white;
          padding: 2px 5px;
          border-radius: 2px;
          position: absolute;
          bottom: -5px;
          left: -12px;
        }
      }
      
    }



 

  }
}