.navbar {
  box-shadow: 0 2px 64px  rgba(0,0,0,.05);
  @media(min-width: 1200px){
    padding-right: 15px;
    padding-left: 15px;
  }

  .nav-link.user{
    position: relative;
    img {
      width: 55px;
    }

    i {
      position: absolute;
      bottom: 0;
      left: -8px;
      font-size: 20px;
      color: $color-warning;
    }
  }

  &.navbar-details {


    .navbar-nav {
      align-items: center;
      margin-left: 100px;

      @media(max-width: 1399px){
        flex-direction: row;
        margin-left: 0;
        padding: 30px 0;
      }

      .price {
        font-size: 24px;
        font-weight: 700;
        color: $text-primary;
      }

      .flag {
        img {
          width: 60px;
        }
      }

      .user {
        position: relative;
        span {
          background: $color-success;
          font-size: 12px;
          font-weight: 400;
          color: $color-white;
          padding: 2px 5px;
          border-radius: 2px;
          position: absolute;
          bottom: -13px;
          left: -15px;
        }
      }
      
    }

    .select-col{
      width: 20%;
      padding: 0 30px;
      position: relative;

      @media (max-width: 1399px){
        width: 100%;
      }

      @media (min-width: 1200px) and (max-width: 1599px){
        padding: 0 5px;
      }

      @media (min-width: 1600px){
        width: 22%;
        padding: 0 15px;
      }

      i {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        color: #8E93A8;


        @media (min-width: 1600px){
          left: 25px;
        }
  
      }

      .form-select {
        padding: 12px 0 12px 40px;
      }
    }

    .header-form {
      @media(max-width: 1399px){
        flex-direction: column;

        .select-col, .btn-box {
          margin: 15px 0;
        }

        .select-col {
          padding: 0 10px;
        }
      }

      .btn-lg {
        padding: 0.5rem 2rem;
        white-space: nowrap;
      }
    }

  }
}