.text-success {
  color: $color-success!important;
}
.text-danger {
  color: $color-danger!important;
}
.text-warning {
  color: $color-warning!important;
}

.bg-success {
  background-color: $color-success!important;
}
.bg-danger {
  background-color: $color-danger!important;
}
.bg-warning {
  background-color: $color-warning!important;
}


@media (min-width: 1200px){
  .side-widget {
    min-width: 400px;
  }
  .main-content {
    max-width: calc(100% - 400px);
  }

  .w-150-lg{
    width: 150px!important;
  }
}

.ps-30{
  padding-left: 30px;
}